h1 {
    padding: 2px;
    font-family: sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: black;
}
h2 {
    font-size: 15px;
    text-align: center;
    color: black;
}

p {
    color: black;
}

body {
    background-color: white;
    text-align: center;
}

#gameCanvas{
    float: left;
    margin-left: 100px;
}

div.side {
    width: 160px;
    background-color: teal;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 20px;
    float: left;
    clear: none;
}
div.header {
    background-color: gray;
    font-size: 25px;
    width: 150px;
    margin: auto;
    margin-top: -1px;
    text-align: center;
    padding: 3px;
    border-color: red;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
}
div.links {
    padding: 10px;
}
div.links a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    margin-bottom: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: blue;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: verdana;
}