h1 {
    padding: 2px;
    font-family: sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
h2{
    font-size: 15px;
    text-align: center;
}

body {
    background-color:lightblue;
    text-align: center;
}

div.sidelink {
    padding: 10px;
    text-align: left;
    background-color: white;
    width: 160px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 20px;
}
div.sidelink a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: blue;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: verdana;
}